* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    // Eliminar los botones desplegables de los input tipo number
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 12px;

    h1 {
        text-align: center;
    }

}