main {
    width: 400px;
    height: 400px;
    margin: auto;
    outline: 1px solid black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media screen and (max-width: 425px) {
        width: 95%;
        height: 400px;

    }

    header {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        p {
            width: 30%;
            text-align: center;
        }
    }


    label {
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        p {
            width: 30%;
            text-align: center;
        }

        input {
            width: 30%;
            border: 0;
            border-bottom: 2px solid black;
            border-radius: 4px;
            text-align: center;

            &:focus {
                outline: none;
            }

        }

    }

    .total,
    .change {
        margin-top: 12px;

        p {

            text-align: end;
            width: 60%;
        }
    }

}